alembic
atomicwrites
attrs
certifi
chardet
Click
coverage
Flask
Flask-Limiter
Flask-Migrate
Flask-SQLAlchemy
Flask-Testing
Flask-UUID
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
jsonschema
limits
Mako
MarkupSafe
mock
more-itertools
pluggy
psycopg2
py
pyrsistent
pytest
pytest-cov
python-dateutil
python-dotenv
python-editor
requests
six
SQLAlchemy
urllib3
wcwidth
Werkzeug
zipp